/*header*/

.web-word {
  color: var(--accent-blue-color);
}
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.main-nav-link {
  color: var(--title-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.main-nav-link:hover,
.main-nav-link:focus {
  color: var(--accent-blue-color);
}
.mail-tel {
  color: var(--text-gris-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.mail-tel:hover,
.mail-tel:focus {
  color: var(--accent-blue-color);
}

/*footer*/

.footer {
  background-color: var(--background-color-footer);
}

.studio-word {
  color: var(--h1-white);
}

.address {
  color: var(--h1-white);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.tel-footer,
.mail-footer {
  color: var(--white-op60);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
