.advantages {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.description-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-color-text);
  margin-top: 0px;
  margin-bottom: 10px;
}

.description-list p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color-text);
  margin-top: 0px;
  margin-bottom: 0px;
}

.description-list li:not(:last-child) {
  margin-right: 30px;
}

.advantages-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--background-btn-portfolio);
}
